package $(PackageDot)common;

class Config $(CSLB){
	
	static public var menu = ["index", "article0"];
	static public var page = {
		index : { 
			title : "Top" 
		},
		article0 : { 
			title : "Article 0" 
		},
	};
	
	static public var styleSheets = ["css/reset.css", "css/pygments.css", "css/teplay.css", "css/main.css"];
	static public var scripts = ["main.js"];
	
}